# /node_modules/* and /bower_components/* in the project root are ignored by default

**/build/*
scripts/*
storybook-static/*
coverage/*
*.d.ts
.eslintrc.js
babel.config.js
babel.cjs.config.js
jest.config.js
jest.setup.js